framework: net46
source https://www.nuget.org/api/v2/
redirects: on

nuget Nuget.CommandLine
nuget Suave
nuget Newtonsoft.Json
nuget Xunit
nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
nuget Kafunk
